<!DOCTYPE html>
<html>
<head>
  <title>User Page</title>
</head>
<body>
  <h1>Welcome, <%= order.username %></h1>
  <p>Your order details:</p>
  <ul>
    <li>Date: <%= order.date %></li>
    <li>Phone Number: <%= order.phoneNumber %></li>
    <li>Email: <%= order.email %></li>
    <li>Payment Method: <%= order.paymentMethod %></li>
  </ul>
</body>
</html>
